.search {
    position: relative;
    width: 360px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    overflow: hidden;
    align-items: center;
    &:focus-within {
        border-color: var(--primary);
    }
}

.inputSearch {
    height: 100%;
    width: 90%;
    border: none;
    caret-color: var(--primary);
    &:focus {
        outline: none;
    }
    &:not(:placeholder-shown) ~ .search-btn {
        color: var(--primary);
    }
}

.search-result {
    padding-top: 8px;
    padding: 0 20px;
    width: 360px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.search-btn {
    border: none;
    background: none;
    padding: 0 8px;
    border-left: 1px solid #ccc;
    color: #ccc;
    cursor: pointer;
}

.clear-btn,
.loading {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-wrapper {
    display: flex;
    flex-direction: column;
}

.search-title {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.clear-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
